# Ignore node_modules folder
node_modules/

# Ignore log files
*.log

# Ignore system files
.DS_Store

# Ignore environment variable files
.env

server/.env

# Ignore build and dependency directories
/dist/
/build/
/out/

/coverage/

# Ignore editor-specific files
.vscode/
.idea/
*.swp  # Vim swap files

# Ignore OS-specific files
Thumbs.db  # Windows
.DS_Store  # macOS
